<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href='http://fonts.googleapis.com/css?family=Roboto'
	rel='stylesheet' type='text/css' />
<!-- use the font -->
<style>
body {
	font-family: 'Roboto', sans-serif;
	font-size: 48px;
}
</style>
</head>
<body>
	<p th:text="${'Hi ' + name + ','}"></p>
	<p>
		You have been requested for a project review and the details are mentioned below, <br />
	</p>
	<p th:text="${'Project Name:' + projectName}"></p>
	<p th:text="${'Organisation Name:' + organisationName}"></p>
	<p>This is a system generated email. Please do not reply to this
		email.</p>
	<p>
		Thanks, <br /> <em th:text="${'Team - ' +sign}"></em>
	</p>
</body>
</html>